.wpum-message {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c09853;
	p {
		margin: 0px;
	}
	&.success {
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #468847;
	}
	&.error {
		background-color: #f2dede;
		border-color: #eed3d7;
		color: #b94a48;
	}
	&.info {
		background-color: #d9edf7;
		border-color: #bce8f1;
		color: #3a87ad;
	}
	&.warning {
		background-color: #fcf8e3;
		border-color: #faebcc;
		color: #C09853;
	}
}
