@import 'columns';
@import 'account-tabs';
@import 'messages';
@import 'forms';
@import 'profile';
@import 'directory';

@media only screen and (max-width: 767px) {
	.wpum_one_half,
	.wpum_one_third,
	.wpum_two_third,
	.wpum_two_fourth,
	.wpum_three_fourth,
	.wpum_one_fourth,
	.wpum_one_fifth,
	.wpum_two_fifth,
	.wpum_three_fifth,
	.wpum_four_fifth,
	.wpum_one_sixth,
	.wpum_five_sixth {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	#header-avatar-container {
		text-align: center;
		a {
			left: 0;
		}
	}

	#profile-navbar {
		display: block;
		border:0;
	}

}
