.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
/vendor
yarn-error.log
.sass-cache
#dist
deploy.sh
wp-user-manager
languages/*
!languages/wp-user-manager.pot
release
codereport.csv

/tests/reports
/tests/codeception.yml
/tests/.env.local
