<?xml version="1.0" ?>
<ruleset name="WP_User_Manager">
	<file>.</file>
	<exclude-pattern>vendor</exclude-pattern>
	<exclude-pattern>release</exclude-pattern>
	<exclude-pattern>languages</exclude-pattern>
	<exclude-pattern>dist</exclude-pattern>
	<exclude-pattern>config</exclude-pattern>
	<exclude-pattern>build</exclude-pattern>
	<exclude-pattern>assets</exclude-pattern>
	<exclude-pattern>src</exclude-pattern>
	<exclude-pattern>static</exclude-pattern>
	<exclude-pattern>Gruntfile.js</exclude-pattern>
	<exclude-pattern>.sass-cache</exclude-pattern>
	<exclude-pattern>node_modules/</exclude-pattern>
	<rule ref="WordPress">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
	</rule>
</ruleset>
