parameters:
	ignoreErrors:
		-
			message: "#^Instantiated class WPUM_Elementor_Loader not found\\.$#"
			count: 1
			path: includes/class-wp-user-manager.php

		-
			message: "#^Result of static method WPUM\\\\TDP\\\\WP_Notice\\:\\:instance\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: includes/class-wp-user-manager.php

		-
			message: "#^Action callback returns WPUM_Form\\|false but should not return anything\\.$#"
			count: 1
			path: includes/forms/class-wpum-forms.php

		-
			message: "#^Action callback returns mixed but should not return anything\\.$#"
			count: 1
			path: includes/integrations/stripe/Account.php

		-
			message: "#^Method WPUserManager\\\\Stripe\\\\InvoiceLineItem\\:\\:endDate\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: includes/integrations/stripe/InvoiceLineItem.php

		-
			message: "#^Method WPUserManager\\\\Stripe\\\\InvoiceLineItem\\:\\:endDateAsCarbon\\(\\) should return WPUM\\\\Carbon\\\\Carbon but return statement is missing\\.$#"
			count: 1
			path: includes/integrations/stripe/InvoiceLineItem.php

		-
			message: "#^Method WPUserManager\\\\Stripe\\\\InvoiceLineItem\\:\\:startDate\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: includes/integrations/stripe/InvoiceLineItem.php

		-
			message: "#^Method WPUserManager\\\\Stripe\\\\InvoiceLineItem\\:\\:startDateAsCarbon\\(\\) should return WPUM\\\\Carbon\\\\Carbon but return statement is missing\\.$#"
			count: 1
			path: includes/integrations/stripe/InvoiceLineItem.php

		-
			message: "#^Action callback returns array but should not return anything\\.$#"
			count: 1
			path: includes/integrations/stripe/Registration.php

		-
			message: "#^Action callback returns array but should not return anything\\.$#"
			count: 1
			path: includes/integrations/stripe/Settings.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: includes/roles/class-wpum-collection.php
