.wpum_one_half,
.wpum_one_third,
.wpum_two_third,
.wpum_two_fourth,
.wpum_three_fourth,
.wpum_one_fourth,
.wpum_one_fifth,
.wpum_two_fifth,
.wpum_three_fifth,
.wpum_four_fifth,
.wpum_one_sixth,
.wpum_five_sixth {
  position: relative;
  margin-right: 4%;
  float: left; }

.wpum_one_half {
  width: 48%; }

.wpum_one_third {
  width: 30.6666%; }

.wpum_two_third {
  width: 65.3332%; }

.wpum_one_fourth {
  width: 22%; }

.wpum_two_fourth {
  width: 48%; }

.wpum_three_fourth {
  width: 74%; }

.wpum_one_fifth {
  width: 16.8%; }

.wpum_two_fifth {
  width: 37.6%; }

.wpum_three_fifth {
  width: 58.4%; }

.wpum_four_fifth {
  width: 79.2%; }

.wpum_one_sixth {
  width: 13.3333%; }

.wpum_two_sixth {
  width: 30.6666%; }

.wpum_three_sixth {
  width: 47.9998%; }

.wpum_four_sixth {
  width: 65.3332%; }

.wpum_five_sixth {
  width: 82.6665%; }

.last {
  margin-right: 0 !important;
  clear: right; }

/* Two level columns
---------------------------------------------------------- */
.wpum_one_half .wpum_one_half {
  margin-right: 8.3333%;
  width: 45.8333%; }

.wpum_one_half .wpum_one_third {
  margin-right: 8.3333%;
  width: 27.7778%; }

.wpum_one_half .wpum_two_third {
  margin-right: 8.3333%;
  width: 63.8889%; }

.wpum_two_third .wpum_one_third {
  margin-right: 6.1224%;
  width: 29.2517%; }

.wpum_two_third .wpum_two_third {
  margin-right: 6.1224%;
  width: 64.6258%; }

.wpum_two_third .wpum_one_fourth {
  margin-right: 6.1224%;
  width: 20.4082%; }

.wpum_clearfix::after {
  content: "";
  clear: both;
  display: table; }

/* Uncomment and set these variables to customize the grid.wpum- */
.wpum-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem; }

.wpum-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

.wpum-row.wpum-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.wpum-col.wpum-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.wpum-col-xs,
.wpum-col-xs-1,
.wpum-col-xs-2,
.wpum-col-xs-3,
.wpum-col-xs-4,
.wpum-col-xs-5,
.wpum-col-xs-6,
.wpum-col-xs-7,
.wpum-col-xs-8,
.wpum-col-xs-9,
.wpum-col-xs-10,
.wpum-col-xs-11,
.wpum-col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; }

.wpum-col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.wpum-col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.wpum-col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.wpum-col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.wpum-col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.wpum-col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.wpum-col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.wpum-col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.wpum-col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.wpum-col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.wpum-col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.wpum-col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.wpum-col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.wpum-col-xs-offset-1 {
  margin-left: 8.333%; }

.wpum-col-xs-offset-2 {
  margin-left: 16.667%; }

.wpum-col-xs-offset-3 {
  margin-left: 25%; }

.wpum-col-xs-offset-4 {
  margin-left: 33.333%; }

.wpum-col-xs-offset-5 {
  margin-left: 41.667%; }

.wpum-col-xs-offset-6 {
  margin-left: 50%; }

.wpum-col-xs-offset-7 {
  margin-left: 58.333%; }

.wpum-col-xs-offset-8 {
  margin-left: 66.667%; }

.wpum-col-xs-offset-9 {
  margin-left: 75%; }

.wpum-col-xs-offset-10 {
  margin-left: 83.333%; }

.wpum-col-xs-offset-11 {
  margin-left: 91.667%; }

.wpum-start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.wpum-center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.wpum-end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.wpum-top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.wpum-middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.wpum-bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.wpum-around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.wpum-between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.wpum-first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.wpum-last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media only screen and (min-width: 48em) {
  .wpum-container {
    width: 46rem; }

  .wpum-col-sm,
  .wpum-col-sm-1,
  .wpum-col-sm-2,
  .wpum-col-sm-3,
  .wpum-col-sm-4,
  .wpum-col-sm-5,
  .wpum-col-sm-6,
  .wpum-col-sm-7,
  .wpum-col-sm-8,
  .wpum-col-sm-9,
  .wpum-col-sm-10,
  .wpum-col-sm-11,
  .wpum-col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }

  .wpum-col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .wpum-col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .wpum-col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .wpum-col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .wpum-col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .wpum-col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .wpum-col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .wpum-col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .wpum-col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .wpum-col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .wpum-col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .wpum-col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .wpum-col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .wpum-col-sm-offset-1 {
    margin-left: 8.333%; }

  .wpum-col-sm-offset-2 {
    margin-left: 16.667%; }

  .wpum-col-sm-offset-3 {
    margin-left: 25%; }

  .wpum-col-sm-offset-4 {
    margin-left: 33.333%; }

  .wpum-col-sm-offset-5 {
    margin-left: 41.667%; }

  .wpum-col-sm-offset-6 {
    margin-left: 50%; }

  .wpum-col-sm-offset-7 {
    margin-left: 58.333%; }

  .wpum-col-sm-offset-8 {
    margin-left: 66.667%; }

  .wpum-col-sm-offset-9 {
    margin-left: 75%; }

  .wpum-col-sm-offset-10 {
    margin-left: 83.333%; }

  .wpum-col-sm-offset-11 {
    margin-left: 91.667%; }

  .wpum-start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .wpum-center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }

  .wpum-end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .wpum-top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }

  .wpum-middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }

  .wpum-bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }

  .wpum-around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .wpum-between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .wpum-first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }

  .wpum-last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }
@media only screen and (min-width: 62em) {
  .wpum-container {
    width: 61rem; }

  .wpum-col-md,
  .wpum-col-md-1,
  .wpum-col-md-2,
  .wpum-col-md-3,
  .wpum-col-md-4,
  .wpum-col-md-5,
  .wpum-col-md-6,
  .wpum-col-md-7,
  .wpum-col-md-8,
  .wpum-col-md-9,
  .wpum-col-md-10,
  .wpum-col-md-11,
  .wpum-col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }

  .wpum-col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .wpum-col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .wpum-col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .wpum-col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .wpum-col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .wpum-col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .wpum-col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .wpum-col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .wpum-col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .wpum-col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .wpum-col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .wpum-col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .wpum-col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .wpum-col-md-offset-1 {
    margin-left: 8.333%; }

  .wpum-col-md-offset-2 {
    margin-left: 16.667%; }

  .wpum-col-md-offset-3 {
    margin-left: 25%; }

  .wpum-col-md-offset-4 {
    margin-left: 33.333%; }

  .wpum-col-md-offset-5 {
    margin-left: 41.667%; }

  .wpum-col-md-offset-6 {
    margin-left: 50%; }

  .wpum-col-md-offset-7 {
    margin-left: 58.333%; }

  .wpum-col-md-offset-8 {
    margin-left: 66.667%; }

  .wpum-col-md-offset-9 {
    margin-left: 75%; }

  .wpum-col-md-offset-10 {
    margin-left: 83.333%; }

  .wpum-col-md-offset-11 {
    margin-left: 91.667%; }

  .wpum-start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .wpum-center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }

  .wpum-end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .wpum-top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }

  .wpum-middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }

  .wpum-bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }

  .wpum-around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .wpum-between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .wpum-first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }

  .wpum-last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }
@media only screen and (min-width: 75em) {
  .wpum-container {
    width: 71rem; }

  .wpum-col-lg,
  .wpum-col-lg-1,
  .wpum-col-lg-2,
  .wpum-col-lg-3,
  .wpum-col-lg-4,
  .wpum-col-lg-5,
  .wpum-col-lg-6,
  .wpum-col-lg-7,
  .wpum-col-lg-8,
  .wpum-col-lg-9,
  .wpum-col-lg-10,
  .wpum-col-lg-11,
  .wpum-col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }

  .wpum-col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .wpum-col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .wpum-col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .wpum-col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .wpum-col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .wpum-col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .wpum-col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .wpum-col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .wpum-col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .wpum-col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .wpum-col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .wpum-col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .wpum-col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .wpum-col-lg-offset-1 {
    margin-left: 8.333%; }

  .wpum-col-lg-offset-2 {
    margin-left: 16.667%; }

  .wpum-col-lg-offset-3 {
    margin-left: 25%; }

  .wpum-col-lg-offset-4 {
    margin-left: 33.333%; }

  .wpum-col-lg-offset-5 {
    margin-left: 41.667%; }

  .wpum-col-lg-offset-6 {
    margin-left: 50%; }

  .wpum-col-lg-offset-7 {
    margin-left: 58.333%; }

  .wpum-col-lg-offset-8 {
    margin-left: 66.667%; }

  .wpum-col-lg-offset-9 {
    margin-left: 75%; }

  .wpum-col-lg-offset-10 {
    margin-left: 83.333%; }

  .wpum-col-lg-offset-11 {
    margin-left: 91.667%; }

  .wpum-start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .wpum-center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }

  .wpum-end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .wpum-top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }

  .wpum-middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }

  .wpum-bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }

  .wpum-around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .wpum-between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .wpum-first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }

  .wpum-last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }
.box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff; }

#wpum-account-forms-tabs {
  margin-bottom: 30px; }
  #wpum-account-forms-tabs ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #wpum-account-forms-tabs ul li {
      display: block;
      margin: 0 0 5px;
      padding: 10px 15px;
      border-radius: 3px; }
      #wpum-account-forms-tabs ul li:hover {
        text-decoration: none;
        background: #fcfcfc; }
      #wpum-account-forms-tabs ul li.active {
        background: #efefef;
        text-decoration: none; }
      #wpum-account-forms-tabs ul li a {
        text-decoration: none; }

.wpum-message {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853; }
  .wpum-message p {
    margin: 0px; }
  .wpum-message.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847; }
  .wpum-message.error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48; }
  .wpum-message.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad; }

/* Form elements */
.wpum-form fieldset {
  margin: 0;
  padding: 0 0 1em 0;
  line-height: 2em;
  border: 0; }
  .wpum-form fieldset label {
    display: block;
    margin: 0;
    vertical-align: middle; }
    .wpum-form fieldset label small {
      opacity: .75;
      font-size: 0.83em; }
    .wpum-form fieldset label .wpum-required {
      color: red; }
  .wpum-form fieldset div.field {
    vertical-align: middle; }
    .wpum-form fieldset div.field label {
      float: none;
      width: auto; }
    .wpum-form fieldset div.field.field-mailchimp label ~ small {
      margin-top: 0;
      margin-bottom: 1.2em; }
  .wpum-form fieldset input.input-text,
  .wpum-form fieldset input.input-email,
  .wpum-form fieldset textarea,
  .wpum-form fieldset select {
    margin: 0;
    vertical-align: middle;
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  .wpum-form fieldset small.description {
    opacity: .75;
    font-size: 0.83em;
    margin: 1.2em 0 0 0;
    display: block;
    line-height: 1.2em; }
  .wpum-form fieldset input[type=checkbox] ~ .description {
    display: inline; }
  .wpum-form fieldset.fieldset-user_avatar .wpum-uploaded-file-preview img {
    width: 70px;
    height: 70px; }
  .wpum-form fieldset.fieldset-robo {
    display: none; }

.wpum-action-links {
  list-style: none;
  padding: 0;
  margin-top: 1em; }
  .wpum-action-links li {
    margin-bottom: 0.3em; }

#cover-image-container {
  position: relative; }

#header-cover-image {
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 280px; }

#header-avatar-container a {
  position: relative;
  top: -65px;
  left: 30px; }
#header-avatar-container img {
  border: solid 5px #FFF;
  background: #fff; }

#header-details-container {
  padding: 10px 10px 10px 30px; }

#header-name-container h2 {
  font-size: 24px; }
  #header-name-container h2 small {
    font-size: 14px;
    text-decoration: underline; }

#profile-navbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  #profile-navbar > a,
  #profile-navbar > button {
    background: none;
    border: 0;
    display: block;
    padding: 10px 15px;
    text-decoration: none; }
    #profile-navbar > a:hover, #profile-navbar > a.active,
    #profile-navbar > button:hover,
    #profile-navbar > button.active {
      background: #eee; }

#profile-content-about h3.group-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px; }
#profile-content-about .profile-fields-table {
  width: 100%; }
  #profile-content-about .profile-fields-table td.label {
    width: 30%;
    font-weight: 600; }
  #profile-content-about .profile-fields-table tr {
    background: #fafafa; }
    #profile-content-about .profile-fields-table tr:last-child {
      border-bottom: none; }

#profile-posts .wpum-post {
  border-bottom: 2px solid #f6f6f6;
  padding: 15px 0px; }
  #profile-posts .wpum-post:first-child {
    padding-top: 0px; }
#profile-posts .wpum-post-meta {
  margin: 0px;
  padding: 0px; }
  #profile-posts .wpum-post-meta li {
    list-style: none;
    margin: 0px;
    display: inline-block; }

#profile-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee; }
  #profile-pagination a, #profile-pagination span {
    background: 0 0;
    border: 0;
    display: block;
    padding: 10px 15px;
    text-decoration: none; }
    #profile-pagination a:first-child, #profile-pagination span:first-child {
      padding-left: 0; }

/*# sourceMappingURL=wpum.css.map */
